# Remote parquet file URL
# For local development, use a CORS-enabled server:
# cd /path/to/parquet/files && python3 -c "from http.server import HTTPServer, SimpleHTTPRequestHandler; H=type('H',(SimpleHTTPRequestHandler,),{'end_headers':lambda s:(s.send_header('Access-Control-Allow-Origin','*'),SimpleHTTPRequestHandler.end_headers(s))}); HTTPServer(('',8888),H).serve_forever()"
PUBLIC_PARQUET_URL=http://localhost:8888/orders.parquet
